@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  /* font-family: 'Barlow', sans-serif; */
}

a {
  text-decoration: none;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

strong.mark {
  background-color: rgba(165, 42, 42, 0.291);
  width: fit-content;
}

strong {
  color: brown;
  -webkit-text-stroke: 0.5px currentColor;
  font-weight: normal;
  letter-spacing: 0.02em; /* Piccola spaziatura aiuta */
}

/* Specifics */

.cv-container {
  max-width: 900px;
  min-height: 1123px;
  margin: 0 auto;
  padding: 2rem;

  background-color: beige;
}

.section {
  
  .section-body {
    border-left: 1px solid black;

  }

  h4 {
    background-color: rgb(187, 187, 134);
    width: fit-content;
    padding: 3px 10px 3px 10px;
    border-radius: 0 10px 0 0;
  }
}

.left-main {
  max-width: 30%;
}

/* Profile */
.profilePic {
  width: 150px;
  border-radius: 20px;
}

.profile {

  .profile-text {
  font-size: 14px;
}
}

/* Education */
.title-ctn {
  font-size: 14px;

}

.course-header-text h5 {
  padding: 5px 10px;
  border-radius: 50px 50px 50px 50px;
  width: fit-content;
  background-color: brown;
  color: white;
  font-weight: bold;
}

.course p {
  font-size: 14px;
}

.detail {
  font-size: 12px;
  margin-bottom: 0.2rem;
}

.institution {
  color: grey;
  font-size: 12px;
}

.period {
  font-size: 12px;
  color: grey;
}

/* Skills */

.frontend p {
  margin-bottom: 0;
}

.skills li {
  font-size: 14px;
}

@media print {
  .cv-container {
    max-width: 100%;
    padding: 0;
  }
  
  @page {
    size: A4;
    margin: 1cm;
  }
}